(
    axes: {
        "move_x": Emulated(
            pos: Key(D),
            neg: Key(Q),
        ),
        "move_z": Emulated(
            pos: Key(S),
            neg: Key(Z),
        ),
    },
    actions: {
        "hide": [[Key(P)]],
        "use": [[Key(E), Key(F)]],
    },
)
